@{ 
	Layout = "";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Battle City Online</title>

	<link rel="stylesheet" href="~/Content/Styles/game.css">
	<script type="text/javascript" src="~/Scripts/Game/main.js"></script>
</head>
<body onload="onBodyLoad()">
	<div id="container">
		<canvas id="LowCanvas"></canvas>
		<canvas id="TopCanvas"></canvas>
	</div>
</body>
</html>